.header {
  background: lavender;
  padding: 20px;
  margin: -8px;
  height: 30px;
}
.header .logo {
  width: 50%;
  display: inline-block;
}
.header .logo a{
  color: dodgerblue;
  font-size: 25px;
  text-decoration: none;
  border: 1px solid dodgerblue;
  padding: 5px;
  background: white;
}
