<div>
  <app-outlet-component [componentData]="componentData"></app-outlet-component>
  <button (click)="createDefaultThemeComponent()">Default Theme</button>
 <!--<button (click)="createFirstThemeComponent();">First Theme</button>-->

  <h4>Themes:</h4>
  <!--<select>
    <option>Default theme</option>
    <option *ngFor="let item of themes" (click)="showTheme()">
      <button>Apply {{item.name}}</button>
    </option>
  </select>-->
  <ul>
    <li *ngFor="let item of themes" (click)="showTheme(item._id, item.id)" style="list-style: none;">
      <input type="radio"/>
      <label>Apply {{item.name}}</label>
    </li>
  </ul>
  <hr/>
  <div>
    <h2>Menu</h2>
    <label for="name">Change logo</label>
    <input type="text"
           id="name"
           name="name"
           placeholder="Type name of logo"
           [(ngModel)]="theme.name"

    />
    <br/>
    <input type="checkbox"
           id="menu"
           [checked]="theme.isVisibleMenu"
           [(ngModel)]="theme.isVisibleMenu"
           (ngModelChange)="changeVisibleMenu();"
    />
    <label for="menu">Hide Menu</label>
    <br/>
    <input type="checkbox"
           id="logoInput"
           [checked]="theme.isVisibleLogo"
           [(ngModel)]="theme.isVisibleLogo"
           (ngModelChange)="changeVisibleLogo();"
    />
    <label for="logoInput">Hide Logo</label>
    <!--<h3>Choose menu</h3>
    <input type="checkbox"
           id="otherMenu"
           [checked]="otherMenu"
           [(ngModel)]="otherMenu"
           (change)="setMenu();"
    />
    <label for="otherMenu">Other Menu</label>-->
    <br/>
    <h3>
      <a href="#" (click)="editMenu = !editMenu">Edit menu</a>
    </h3>
    <div *ngIf="editMenu">
      <input type="text" placeholder="Add menu item" [(ngModel)]="newItem" (keyup.enter)="addMenuItem(newItem);"/>
    </div>
    <button (click)="updateThemeConfig(theme)">Save changes</button>
  </div>
</div>
<app-outlet-component></app-outlet-component>

