<ul class="nav nav-pills navbar-right" *ngIf="theme?.isVisibleMenu">
  <!--<li>
    <a href="javascript:void(0)" routerLink="/app-home" routerLinkActive="active" class="text-uppercase" (click)="onClick('app-home')">home</a>
  </li>
  <li>
    <a href="javascript:void(0)" routerLink="/app-blog" routerLinkActive="active" class="text-uppercase" (click)="onClick('app-blog')">blog</a>
  </li>-->
  <li *ngFor="let items of theme?.menuItems">
    <a href="javascript:void(0)" [routerLink]="items.link" routerLinkActive="active" class="text-uppercase" (click)="onClick(items.link)">{{items.name}}</a>
  </li>
</ul>






