<ul class="nav nav-tabs navbar-right" *ngIf="theme?.isVisibleMenu">
  <!--<li>
    <a href="javascript:void(0)" routerLink="/app-home" routerLinkActive="active" class="text-uppercase" (click)="onClick('app-home')">home</a>
  </li>
  <li>
    <a href="javascript:void(0)" routerLink="/app-blog" routerLinkActive="active" class="text-uppercase" (click)="onClick('app-blog')">blog</a>
  </li>-->
  <li *ngFor="let items of theme?.menuItems">
    <a href="javascript:void(0)" [routerLink]="['/pages', items.link]" routerLinkActive="btn-info" class="text-uppercase">{{items.name}}</a>
  </li>
</ul>






