.header {
  background: pink;
  padding: 20px;
  margin: -8px;
  height: 30px;
  line-height: 30px;
}
.header .logo,
.header .menu {
  width: 50%;
}
.header .logo{
  float: left;
}
.header .logo a{
  color: palevioletred;
  font-size: 25px;
  text-decoration: none;
  border: 1px solid palevioletred;
  padding: 5px;
  background: white;
}

