<h4 class="text-uppercase">Code editor</h4>
<h5>JS</h5>
<ace-editor #jsEditor
            [text]="jsContent"
            (textChanged)="onRuleChange($event)"
            [options]="options"
            [readOnly]="false"
            [autoUpdateContent]="true"
            style="min-height: 200px; width:100%; overflow: auto;"
            mode="javascript"></ace-editor>
<h5>HTML</h5>
<ace-editor #htmlEditor
            [text]="htmlContent"
            (textChanged)="onRuleChange($event)"
            [options]="options"
            [readOnly]="false"
            [autoUpdateContent]="true"
            mode="html"
            style="min-height: 200px; width:100%; overflow: auto;"></ace-editor>
