<div class="container-fluid">
  <div class="row" style="display: flex;min-height: 100vh;">
    <div class="col-xs-4 alert-info">
      <h2 class="text-uppercase"><b>Admin panel</b></h2>
      <h4><b>Choose themes:</b></h4>
      <ul class="list-unstyled">
        <li *ngFor="let item of themes">
          <label>
            <input type="radio"
                   name="chooseTheme"
                   (click)="applyTheme(item.id);"
                   [checked]="item.id==currentTheme.themeId"
            />
            Apply {{item.themeName}}
          </label>
        </li>
      </ul>
      <hr/>
      <div>
        <h4><b>Menu</b></h4>
        <div class="row">
          <div class="col-xs-6">
            <label for="logoName">Change logo</label>
            <input type="text"
                   class="form-control"
                   id="logoName"
                   name="logoName"
                   placeholder="Type name of logo"
                   [(ngModel)]="theme.logoName"
                   (ngModelChange)="changeLogoName();"
            />
          </div>
        </div>
        <input type="checkbox"
               id="menu"
               name="menu"
               [checked]="theme?.isVisibleMenu"
               [(ngModel)]="theme.isVisibleMenu"
               (ngModelChange)="changeVisibleMenu();"
        />
        <label for="menu">Show Menu</label>
        <br/>
        <input type="checkbox"
               id="logoInput"
               name="logoInput"
               [checked]="theme?.isVisibleLogo"
               [(ngModel)]="theme.isVisibleLogo"
               (ngModelChange)="changeVisibleLogo();"
        />
        <label for="logoInput">Show Logo</label>
        <hr/>

        <!-- Add page -->
        <form (submit)="addPage()">
          <h4><b>Add page</b></h4>
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group">
                <label class="sr-only" for="title">Title</label>
                <input type="text"
                       class="form-control"
                       [(ngModel)]="page.title"
                       id="title"
                       name="title"
                       placeholder="Enter Title"
                       required
                />
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group">
                <label class="sr-only" for="link">Link</label>
                <input type="text"
                       class="form-control"
                       [(ngModel)]="page.link"
                       #link='ngModel'
                       id="link"
                       name="link"
                       placeholder="Enter Link"
                       required
                />
                <div *ngIf="link.errors?.required" class="text-danger">Link is required</div>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="form-group">
                <label class="sr-only" for="link">Content</label>
                <textarea
                  class="form-control"
                  [(ngModel)]="page.content"
                  #content="ngModel"
                  id="content"
                  name="content"
                  placeholder="Enter Content"
                  required
                ></textarea>
                <div *ngIf="content.errors?.required" class="text-danger">Content is required</div>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="form-group">
                <h5><b>Template</b></h5>
                <p>Select a template for this page.</p>
                <select [(ngModel)]="page.templateName" class="form-control" name="templates" (change)="applyTemplate(page.templateName)">
                  <option disabled>Choose template</option>
                  <option selected value="BasicTemplateComponent">template-basic</option>
                  <option value="ContactsTemplateComponent">template-contacts</option>
                </select>
              </div>
            </div>
          </div>
          <div style="padding-top: 10px;">
            <button type="submit" class="btn btn-primary"
                    [class.disabled]="link.errors?.required || content.errors?.required">Add page
            </button>
            <button type="reset" class="btn btn-info">Reset</button>
          </div>
        </form>

        <!--Add menu item-->
        <hr/>
        <h4><b>Add menu item</b></h4>
        <div>
          <div class="row">
            <div class="col-xs-6">
              <input type="text"
                     class="form-control"
                     placeholder="Add menu item"
                     [(ngModel)]="newMenuItem"
              />
            </div>
            <div class="col-xs-6">
              <select [(ngModel)]="newMenuItemLink" class="form-control">
                <option disabled>Choose page</option>
                <option *ngFor="let item of currentConfig?.pages | keys" value="{{item}}">
                  <b>Page: </b>{{currentConfig?.pages[item].title}}
                </option>
              </select>
            </div>
          </div>
          <br/>
          <button class="btn btn-primary" (click)="addMenuItem();">Add menu item</button>
          <hr/>
          <button class="btn btn-primary btn-block" (click)="updateUserConfig()">Save changes</button>
        </div>
      </div>
    </div>

    <div class="col-xs-8">
      <router-outlet [componentData]="componentData"></router-outlet>
    </div>
  </div>
</div>



